.footer{
    margin-bottom: 0.25rem;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 250;
    color:#464646;
    text-align: center;   
}

@media (min-width:768px){
.footer{
    
    margin-bottom: 0.5rem;
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color:#464646;
    text-align: center;   
}
 }